@model IEnumerable<SliderModel>

<div id="slides-shop" class="cover-slides">
	<ul class="slides-container">
		@foreach (var slide in Model)
		{
			<li class="text-center">
				<img src="~/media/slider/@slide.Image" alt="Slide Image" />
			</li>
		}
	</ul>
	<div class="slides-navigation">
		<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
	</div>
</div>
