@model SliderModel
@{
    ViewData["title"] = "Create Slider";
}

<!-- Hiển thị thông báo lỗi -->
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
<h4>Create Slider</h4>
<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>

        <div class="form-group">
            <label>Status</label>
            <select asp-for="Status" class="form-control" >
                <option value="1">Hiển thị</option>
                <option value="0">Ẩn</option>
            </select>
        </div>

        <div class="form-group">
            <label>Image</label>
            <input asp-for="ImageUpload" type="file" class="form-control">
            <span asp-validation-for="ImageUpload" class="text-danger"></span>
            <img id="imgpreview" class="pt-2" />
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
    <a asp-action="Index" class="btn btn-warning btn-sm">Back to list slider</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        $("#ImageUpload").change((function () {
            readURL(this);
        }))
    </script>
    <script>
        CKEDITOR.replace('Description');
    </script>
}
