<style>
    .col-5th {
        width: calc(20% - 10px);
        float: left;
        margin-right: 10px;
    }
</style>
   <!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="images/about-img.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">Giới thiệu về <span>Freshshop</span></h2>
                <p>
                    Chào mừng bạn đến với <strong>Freshshop</strong>, nơi chúng tôi kết nối bạn với những sản phẩm nông nghiệp chất lượng cao, trực tiếp từ tay người nông dân.
                </p>
                <p>Sứ mệnh của chúng tôi là mang đến những thực phẩm tươi ngon, an toàn và giàu dinh dưỡng, giúp bữa ăn của gia đình bạn trở nên trọn vẹn hơn. Chúng tôi tự hào là cầu nối giữa người tiêu dùng và những người nông dân chăm chỉ, góp phần thúc đẩy nền nông nghiệp bền vững tại Việt Nam.</p>
                <h3>Giá trị của chúng tôi</h3>
                <ul>
                    <li><strong>Chất lượng đảm bảo:</strong> Sản phẩm được chọn lọc kỹ lưỡng, đáp ứng các tiêu chuẩn an toàn thực phẩm.</li>
                    <li><strong>Hỗ trợ nông dân:</strong> Chúng tôi hợp tác trực tiếp với nông dân, đảm bảo giá trị công bằng cho công sức của họ.</li>
                    <li><strong>Bảo vệ môi trường:</strong> Thúc đẩy các phương pháp canh tác bền vững, giảm thiểu tác động tiêu cực đến thiên nhiên.</li>
                </ul>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Đáng tin cậy</h3>
                    <p>Mang đến những sản phẩm nông sản tươi ngon và chất lượng, trực tiếp từ nông dân đến bàn ăn của bạn, đảm bảo minh bạch và uy tín trong từng giao dịch. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chuyên nghiệp</h3>
                    <p>Quy trình tối ưu cùng đội ngũ tận tâm, chúng tôi cam kết mang lại trải nghiệm mua sắm nhanh chóng và tiện lợi.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chuyên gia</h3>
                    <p>Hiểu rõ từng sản phẩm và nhu cầu của bạn, chúng tôi tự tin cung cấp giải pháp tốt nhất cho cuộc sống xanh và lành mạnh.</p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <h2 class="noo-sh-title">Meet Our Team</h2>
            </div>
            <div class="col-5th">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/assets/images/avatars/thumb-1.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Đỗ Thành Bảo</h3> <span class="post">Web Developer</span>
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-youtube"></a></li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-5th">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/assets/images/avatars/thumb-1.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Trần Võ Đình Hoàng</h3> <span class="post">Web Developer</span>
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-youtube"></a></li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-5th">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/assets/images/avatars/thumb-1.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Nguyễn Xuân Hoàng</h3> <span class="post">Web Developer</span>
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-youtube"></a></li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-5th">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/assets/images/avatars/thumb-1.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Phan Minh Tài</h3> <span class="post">Web Developer</span>
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-youtube"></a></li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-5th">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="~/assets/images/avatars/thumb-1.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Nguyễn Trường Vũ</h3> <span class="post">Web Developer</span>
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-youtube"></a></li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->
<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-01.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-02.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-03.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-04.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-05.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-06.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-07.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-08.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-09.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="images/instagram-img-05.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Feed  -->